<!--
@file serial2ros.launch
@brief Serial to ROS
@author Raul Tapia (raultapia.com)
@copyright The Unlicense
@see https://github.com/raultapia/serial2ros
-->

<launch>
    <node pkg="serial2ros" type="serial2ros" name="serial2ros_node" output="screen">
        <remap from="/serial2ros_node/serial2ros_topic" to="/serial2ros/result"/>
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baudrate" value="9600"/>
    </node>
</launch>
